@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    min-width: 0;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
}

$pc-min-width: 800px;

@media only screen and (min-width: 500px) {
    .fs-menu {
        right: -110%;
    }
}
@media only screen and (min-width: $pc-min-width) {
    $max-main-width: 500px;
    $max-slide-width: 350px;
    body,
    #root,
    #root > *,
    .home,
    .loading,
    .fs-menu,
    .fullscreen-post,
    .edit-profile,
    .edit-profile *,
    .profile-fs,
    .post-writer {
        max-width: $max-main-width !important;
        .cropper {
            max-width: 100% !important;
            left: 0 !important;
            overflow-y: hidden !important;
            & .croppable {
                max-width: 100% !important;
                max-height: 100% !important;
                object-fit: contain;
                img {
                    background-image: url("@assets/Untitledasdasd.png");
                    background-repeat: repeat;
                }
            }
            .crop-btn {
                bottom: 5px !important;
            }
        }
    }
    .slide-menu {
        max-width: $max-slide-width !important;
    }
    .change-lang-menu {
        max-width: inherit;
        & * {
            overflow-y: hidden !important;
        }
    }

    .fsf-wrapper,
    .confirm-wrapper {
        max-width: $max-main-width !important;
        & > form,
        .confirm {
            max-width: 400px;
        }
    }
    // .profile-fs {
    //     overflow-y: scroll !important;
    // }
    body,
    #root {
        display: flex;
        // align-items: center;
        justify-content: start;
        position: relative;
    }
    body,
    #root,
    .loading,
    .fullscreen-post {
        margin: auto;

        overflow-x: hidden;
    }
    .loading,
    .fullscreen-post {
        overflow-y: hidden;
    }
    // .fullscreen-post {
    //     right: 0px !important;
    //     top: 0px !important;
    //     left: auto !important;
    // }
    .edit-profile > * {
        // margin: auto;
        max-width: $max-main-width !important;
        overflow-x: hidden;
    }
    .fullscreen-post > * {
        // margin: auto;
        max-width: $max-main-width !important;
        overflow-x: hidden;
    }
    .image-stealer-fullscreen {
        max-width: $max-main-width !important;
    }
    header {
        overflow-y: hidden;
    }
}

.black-bg {
    background-color: black !important;
    * {
        scrollbar-color: #383838 #121212;
    }
}

button,
.following-count,
.followers-count,
.switch {
    cursor: pointer;
}

@media only screen and (min-width: $pc-min-width) {
    .img-stealer-zoom {
        z-index: 1000;
        position: fixed;
        min-height: 100vh;
        min-width: 100vw;
        left: 0;
        top: 0;
        width: 100dvw;
        height: 100dvh;
        cursor: zoom-out;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.5);
        & > img {
            max-width: 100%;
            object-fit: contain;
            width: 100%;
            height: 100%;
            max-height: 100%;
        }
    }
}

body,
#root {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    .img-stealer-zoom {
        display: none;
    }
    .image-stealer-fullscreen-dark {
        background-color: black;
    }
    .image-stealer-fullscreen-light {
        background-color: white;
    }
    .image-stealer-fullscreen {
        width: 100vw;
        height: 100dvh;
        position: absolute;
        z-index: 100;
        left: 0;
        background: inherit;
        overflow: hidden;
        display: grid;
        flex-direction: column;
        bottom: -100%;
        transition: bottom 0.1s linear;
        & > header {
            display: flex;
            align-items: center;
            padding: 10px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            justify-content: space-between;
            .go-back-stealer-btn {
                border: none;
                width: 40px;
                height: 40px;
                grid-row: 1/2;
                padding: 5px;
                grid-column: 1/2;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.3);
            }
            .steal-btn {
                border: none;
                width: 40px;
                height: 40px;
                padding: 7px;
                border-radius: 50px;
                background-color: rgba(0, 0, 0, 0.3);
                grid-row: 1/2;
                grid-column: 2/3;
            }
        }
        & > section {
            height: inherit;
            width: 100%;
            display: grid;
            place-content: center;
            object-fit: contain;
            // position: relative;
            .follow-mouse-zoom {
                width: 100px;
                border: 1px solid red;
                height: 100px;
                position: absolute;
                pointer-events: none;
                display: none;
                transform: translate(-45%, -45%) scale(1.5);
            }
            .image-stealer-image {
                object-fit: contain;
                grid-column: 1/3;
                grid-row: 2/3;
                width: 100%;
                overflow: hidden !important;
                max-width: 100%;
                max-height: 100vh;
                height: max-content;
                cursor: zoom-in;
                // &:active {
                //     transform: scale(1.5);
                // }
            }
        }
    }
}
