@media only screen and (max-width: 500px) {
    .feed {
        height: 100%;
        width: 100%;
        padding: 10px;
        max-height: 100vh;
        overflow-y: scroll;
        // position: relative;
        //TODO:
        // scrollbar-gutter: stable;
        // scrollbar-width: 10px;
        // scrollbar-track-color: black;
        // scrollbar-color: black;
        // scrollbar-base-color: black;
        // scrollbar-arrow-color: black;
        .refetch-trigger {
            height: 50px;
            width: 100%;
            background-color: none;
        }
    }
    .feed-merge-scroll {
        overflow-y: hidden !important;
        min-height: max-content;
        height: 100%;
    }

    .feed-dark {
        background-color: black;
    }

    .feed-light {
        background-color: white;
    }
}
