@media only screen and (max-width: 500px) {
    .feed {
        height: 100%;
        width: 100%;
        padding: 10px;
        overflow-y: scroll;
        //TODO:
        // scrollbar-gutter: stable;
        // scrollbar-width: 10px;
        // scrollbar-track-color: black;
        // scrollbar-color: black;
        // scrollbar-base-color: black;
        // scrollbar-arrow-color: black;
    }

    .feed-dark {
        background-color: black;
    }

    .feed-light {
        background-color: white;
    }
}
