    .follower-user {
        border: none;
        height: 80px;
        padding: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        & > img {
            border-radius: 50px;
            width: 45px;
            max-width: 45px;
        }
        & > section {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            height: 100%;
            & > strong {
                font-weight: 600;
                font-size: 1rem;
            }
            & > span {
                font-size: 0.8rem;
                color: gray;
            }
        }
    }
    .empty-follow {
        width: 100%;
        height: 80px;
        font-size: 1rem;
        color: gray;
        display: grid;
        place-content: center;
    }
    .mt-dark {
        background: black;
    }
    .mt-light {
        background: white;
    }
    .fuser-dark {
        background: black;
        color: white;
        border-bottom: 1px solid white;
        &:active {
            background-color: #212121;
        }
    }
    .fuser-light {
        background: white;
        color: black;
        border-bottom: 1px solid black;
        &:active {
            background-color: #e3e3e3;
        }
    }
