    .fsf-wrapper {
        z-index: 60;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
        display: grid;
        place-content: center;
        & > * {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            width: 60vw;
            height: 55vh;
            min-width: 250px;
            //change on white mode
            border: 1px solid white;

            padding: 10px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 2fr 2fr 1fr;
            & > section {
                display: flex;
                flex-direction: column;
                grid-column: 1/4;
                height: 100%;
                gap: 5px;
                & > label {
                    font-weight: 500;
                    font-size: 1.1rem;
                }
                & > input {
                    background: transparent;
                    border: none;
                    height: 40px;
                    font-size: 1rem;
                    border-bottom: 2px solid blue;
                }
                & > .update-errors {
                    text-align: center;
                    color: red !important;
                    font-weight: 400;
                }
                & > .update-success {
                    text-align: center;
                    color: green !important;
                    font-weight: 400;
                }
            }
            & > section:nth-child(2) {
                grid-row: 2/3;
            }
            & > section:nth-child(3) {
                grid-row: 3/4;
            }
            & > div,
            & > .update-errors-server {
                color: red;
                text-align: center;
                font-weight: 500;
                font-size: 1.2rem;
                margin: auto;
                grid-row: 3/4;
                grid-column: 1/4;
            }
            & > .update-exit-btn {
                grid-row: 1/2;
                grid-column: 3/4;
                width: 50px;
                height: 50px;
                margin-left: auto;
                margin-bottom: auto;
                border: none;
                background: transparent;
                img {
                    height: 100%;
                }
            }
            & > .update-submit-btn {
                margin-top: auto;
                grid-row: 4/5;
                border-radius: 5px;
                border: none;
                grid-column: 3/4;
                color: white;
                font-weight: 500;
                font-size: 1rem;
                background: blue;
                height: 40px;
                &:active {
                    background-color: #3136d4;
                }
            }
        }
    }
    .dark-ffs > *,
    .dark-ffs input {
        background: black;
        color: white;
    }

    .light-ffs > *,
    .light-ffs input {
        background: white;
        color: black;
    }
