    .fsm-btn-wrapper {
        width: 100%;
        background: transparent;
        color: inherit;
        .fsm-btn {
            width: 100%;
            height: 60px;
            background: transparent;
            border: none;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1.5fr 8.5fr;
            padding: 10px;
            border-bottom: 2px solid gray;
            place-content: start;
            color: inherit;
            transition: background-color 0.1s linear;
            border-top: 5px;

            &:active {
                background-color: rgba(125, 125, 125, 0.2);
            }

            & > img {
                width: 40px;
                grid-row: 1/3;
                grid-column: 1;
            }
            & > span {
                // font-size: 1rem;
                text-align: left;
                height: max-content;
                grid-row: 1;
                grid-column: 2;
                font-weight: 500;
            }
            & > p {
                // font-size: 0.8rem;
                grid-column: 2;
                height: max-content;
                max-width: 100%;
                grid-row: 2;
                text-align: left;
                white-space: nowrap;
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: gray;
            }
        }
    }
    .fsm-w-red {
        color: red !important;
    }
    .fsm-w-dark {
        color: white;
    }
    .fsm-w-light {
        color: black;
    }
