    .header {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 20% 60% 20%;
        z-index: 1;
        .mini-profile-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .logo-wrapper {
            grid-column: 2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                //
                height: 60%;
            }
        }
    }

    .dark-header {
        background: #000;
        border-bottom: 1px solid white;
        color: white;
    }

    .light-header {
        background: #fff;
        border-bottom: 1px solid black;
    }
