.home {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    position: relative;
    overflow: hidden;
    width: 100vw;
    .btn-icon-dark {
        fill: rgb(255, 255, 255);
    }
    .btn-icon-light {
        fill: rgb(0, 0, 0);
    }
    .post-button {
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        width: 50px;
        height: 50px;
        position: absolute;
        bottom: 60px;
        right: 10px;
        padding: 10px;
        border-radius: 50px;
        z-index: 10;
        &:active {
            background-color: gray;
        }
        & > img {
            width: 100%;
        }
    }
    .post-button-dark {
        background-color: white;
    }
    .post-button-light {
        background-color: black;
    }

    .change-lang-menu {
        position: absolute;
        bottom: -100%;
        z-index: 20;
        width: 100vw;
        padding: 10px;
        height: 100dvh;
        border: none !important;
        transition: bottom 0.2s linear;
        & > div {
            display: flex;
            height: 100%;
            width: 100%;
            align-items: end;
            .lang-sel-form {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: 8fr 2fr;
                column-gap: 10px;
                height: 100%;
                width: 100%;
                grid-row: 2/3;
                align-items: end;
                & > button {
                    grid-row: 1/2;
                    grid-column: 2/3;
                    width: 40px;
                    height: 40px;
                    margin-left: auto;
                    margin-bottom: auto;
                    background-color: transparent;
                    border: none;
                }
                & > ul {
                    grid-row: 1/3;
                    grid-column: 1/2;
                    height: 100%;
                    overflow-y: scroll;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    & > li {
                        cursor: pointer !important;
                        width: 100%;
                        display: flex;
                        border-radius: 5px;
                        height: 50px;
                        gap: 10px;
                        padding: 5px;
                        padding-left: 10px;
                        & > input {
                            appearance: none;
                            cursor: pointer;
                        }
                        & > label {
                            width: 100%;
                            cursor: pointer;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            justify-content: start;
                            & > img {
                                max-height: 100%;
                                height: 100%;
                            }
                            & > span {
                                font-weight: 500;
                                font-size: 1rem;
                            }
                        }
                    }
                }
                .dark-lang-ul > li {
                    background-color: #4984a6;
                    color: black;
                    &:has(input:checked) {
                        background-color: blue;
                        color: white;
                    }
                    &:has(input:disabled) {
                        background-color: #4d4d4d;
                        color: #808080;
                        &,
                        & > * {
                            cursor: auto !important;
                        }
                    }
                }
                .light-lang-ul > li {
                    background-color: #4499c9;
                    &:has(input:checked) {
                        background-color: blue;
                        color: white;
                    }
                    &:has(input:disabled) {
                        background-color: grey;
                        color: #4d4d4d;
                        &,
                        & > * {
                            cursor: auto !important;
                        }
                    }
                }
                & > input[type="submit"] {
                    background-color: blue;
                    margin-left: auto;
                    margin-top: auto;
                    border-radius: 5px;
                    font-size: 1rem;
                    display: grid;
                    place-content: center;
                    border: none;
                    width: calc(100% - 10px);
                    max-width: 80px;
                    height: 40px;
                    grid-row: 2/3;
                    margin-bottom: 10px;
                    margin-right: 10px;
                    grid-column: 2/3;
                    color: white;
                }
            }
        }
    }
    .clang-menu-dark {
        background-color: black;
        border: 1px solid gray;
        color: white;
    }
    .clang-menu-light {
        background-color: white;
        border: 1px solid black;
        color: black;
    }
}

.home-dark {
    color: white;
    background-color: black;
}
.home-light {
    color: black;
    background-color: white;
}
