    .icon-btn-list-wrapper {
        .icon-btn {
            width: 100%;
            display: flex;
            height: 40px;
            padding: 5px;
            align-items: start;
            gap: 10px;
            border: none;
            background-color: transparent;
            .svg-icon-dark {
                fill: white;
            }
            .svg-icon-light {
                fill: black;
            }
            & > img {
                height: 100%;
            }
            & > p {
                font-weight: 700;
                height: 100%;
                font-size: 1.05rem;
                place-content: center;
            }
        }

        .icon-btn-dark {
            color: white;
        }
        .icon-btn-light {
            color: black;
        }
    }
