.post {
    width: 100%;
    max-width: 100dvh !important;
    height: max-content;
    min-height: 140px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 5px;
    border-radius: 5px;
    transition: background-color 0.1s linear;
    .post-header {
        display: flex;
        justify-content: space-between;
        max-height: 40px;
        height: max-content;
        position: relative;
        .post-hdr-left {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            width: max-content;
            height: 100%;
            max-height: 40px;
            column-gap: 5px;
            grid-template-rows: 1fr 1fr;
            & > * {
                cursor: pointer;
            }
            & > img {
                height: 90%;
                grid-row: 1/3;
                grid-column: 1/2;
                margin: auto;
                max-width: 50px;
                border-radius: 50px;
                background-color: white;
            }
            & > strong {
                grid-row: 1/2;
                grid-column: 2/3;
                width: max-content;
                font-size: 1rem;
                font-weight: 600;
            }
            & > .user-at-main {
                grid-row: 2/3;
                grid-column: 2/3;
                width: max-content;
                color: gray;
                font-size: 0.9rem;
            }
            & > .post-edited {
                padding: 0px 5px;
                display: flex;
                justify-content: start;
                color: #545454;
                font-size: 0.9rem;
                align-items: start;
                justify-content: center;
                grid-row: 1/2;
                grid-column: 3/4;
            }
        }

        .post-menu-light {
            background-color: white;
            button:active {
                background-color: #e3e3e3;
            }
        }

        .post-menu-light-open {
            background-color: white;
            border: 1px solid black;
            button:active {
                background-color: #e3e3e3;
            }
        }

        .post-menu-dark {
            background-color: #121212;
            button:active {
                background-color: #1f1f1f;
            }
        }
        .post-menu {
            min-width: 120px;
            width: max-content;
            position: absolute;
            border-radius: 5px;
            height: max-content;
            max-height: 0px;
            z-index: 1;
            top: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;
            padding: 0px;
            gap: 5px;
            overflow: hidden;
            // transition:
            //     max-height 1s linear;
            button {
                user-select: none;
                color: inherit;
                height: 30px;
                border: none;
                border-radius: 5px;
                background-color: transparent;
                width: 100%;
                gap: 10px;
                display: flex;
                align-items: center;
                justify-content: start;
                .small-icon {
                    height: 70%;
                    max-width: 50px;
                }
            }
        }
        .post-aditional-info {
            background-color: transparent;
            text-align: end;
            color: inherit;
            font-size: 1.5rem;
            border: none;
            width: 35px;
            text-align: center;
            height: 100%;
            user-select: none;
            border-radius: 50px;
            &:active {
                background: rgba(100, 100, 100, 0.3);
            }
        }
    }
    .post-content {
        height: max-content;
        min-height: 50px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        & > p {
            padding-left: 5px;
            width: 100%;
            max-width: 100%;
            text-wrap: wrap;
            font-weight: normal;
            height: max-content;
            overflow-wrap: break-word;
            min-height: 0px;
            .post-inner-anchor {
                text-decoration: none;
                color: #5860db;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .post-image {
            position: relative;
            max-width: 100%;
            width: 100%;
            max-height: 300px;
            height: 200px;
            display: flex;
            & > img {
                cursor: pointer;
                width: 100%;
                max-width: 100%;
                border-radius: 5px;
                max-height: 100%;
                object-fit: cover;
            }
        }
    }
    .post-footer {
        border-top: 1px solid gray;
        padding: 5px 5px 0px 5px;
        height: 35px;
        display: flex;
        max-width: 100dvh !important;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .date-age {
            font-size: 0.9rem;
            color: gray;
            width: max-content;
        }
        & > section {
            height: 100%;
            gap: 10px;
            display: flex;
            align-items: center;
            width: max-content;
            display: flex;
            .post-interaction-btn {
                height: 80%;
                display: flex;
                align-items: center;
                gap: 5px;
                background-color: transparent;
                width: max-content;
                border: none;
                .btn-icon-colored {
                    fill: red;
                }
                & > svg {
                    height: 100%;
                    aspect-ratio: 1/1;
                    width: 20px;
                }
                & > span {
                    font-size: 1rem;
                    width: max-content;
                    min-width: 37px;
                    text-align: left;
                    color: gray;
                }
            }
        }
    }
}
.post-dark {
    &:active:not(:has(button:active)) {
        background-color: #121212;
    }
}
.post-light {
    &:active:not(:has(button:active)) {
        background-color: #e3e3e3;
    }
}
