    .slide-menu {
        position: absolute;
        top: 0;
        left: -100%;
        // height: 100vh;
        height: 100dvh;
        width: 70vw;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        z-index: 10;
        padding: 10px;
        gap: 20px;

        transition: left 0.2s linear;
        .menu-profile-section {
            border-bottom: 2px solid gray;
            grid-column: 1;
            display: grid;
            padding: 10px;
            grid-template-rows: 40px 20px 30px 40px;
            .user-name {
                font-weight: 700;
            }
            .user-at {
                font-weight: normal;
                color: gray;
            }
            .follow-info {
                display: flex;
                align-items: end;
                gap: 10px;
                width: 100%;
                & > span {
                    font-size: 0.95rem;
                    color: gray;
                    display: flex;
                    gap: 5px;
                    .follow-number-dark {
                        color: white;
                    }
                    .follow-number-light {
                        color: black;
                    }
                }
            }
        }
        // .menu-content-section {
        // }
        .menu-bottom {
            border-top: 2px solid gray;
            padding: 10px;
            display: flex;
            align-items: end;
            justify-content: space-between;
        }
    }

    .slide-menu-dark {
        background-color: black;
        color: white;
        border-right: 1px solid white;
    }

    .slide-menu-light {
        background-color: white;
        color: black;
        border-right: 1px solid black;
    }
