    .submit {
        width: 100%;
        border-radius: 5px;
        color: white;
        background-color: #3750eb;
        border: none;
        height: 40px;
        font-size: 1rem;
        font-weight: 500;
    }
